:root{
    --montserrat-font:'Montserrat', sans-serif;
    --fraunces-font: 'Fraunces', serif;
    --white-cream:hsl(30, 38%, 92%);
    --dark-cyan: hsl(158, 36%, 37%);
    --dark-cyan-active: hsl(158, 36%, 22%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

/* Reset */

* {
    font-family: var(--montserrat-font);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;

}

html{
    background-color: var(--white-cream);
}

main{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--white-cream);
    color: var(--dark-grayish-blue);
}



.img__perfume {
    width: 313px;
  border-start-start-radius: 1rem;
  border-end-start-radius: 1rem;
}


.product--title {

  font-family: var(--fraunces-font);
  color: var(--very-dark-blue);
  font-size: 2.2rem;
  line-height: 1.1;
  width: 14rem;
}

.perfume  {
  margin-top: 2rem;
  letter-spacing: 0.5rem;
}


.product__container   {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;  
    margin-left: 2rem;
}

.product--description   {
    width: 17rem;
    line-height: 1.7rem;
}

.container  {
    display: flex;
    background-color: var(--white);
    border-radius: 1rem;
    width: 43.5rem;
    height: 33.5rem;

}


/* PRICES */

.container__prices   {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.discounted--price   {
    font-family: var(--fraunces-font);
    color: var(--dark-cyan);
    font-size: 2.5rem;
}

.total--price   {
    text-decoration-line: line-through;
}

/* END PRICES */


/* BUTTON */

button  {
    box-sizing: border-box;
    color: var(--white);
    background-color: var(--dark-cyan);
    border-radius: .5rem;
    padding: 1rem 4.5rem;
    border-style: none;
    /* margin: 2rem 1rem; */
}

.cart__img  {
    margin-right: 1rem;
  }

button:hover    {
    background-color: var(--dark-cyan-active);
    cursor: pointer;
}

button:active {
    background-color: hsl(158, 36%, 80%);
    color: var(--dark-grayish-blue);

}

/* END BUTTON */

/* FOOTER */

.attribution    {
    margin-top: 3rem;
    font-size: 1rem;
    text-align: center; 
}

.attribution a  { 
    color: hsl(228, 45%, 44%); 
}

/* END FOOTER */

@media (max-width: 640px) {

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .container {
        width: 25rem;
        height: 57rem;
        flex-direction: column;
    }
    
    .img__perfume   {
        width: 350px;
        height: 390px;
        border-radius: 1rem;
        object-fit: cover;
    }

    .product__container {
        width: 21rem;
    }

    .product--title {
        width: auto;
    }

    .product--description   {
        width: auto;
    }

    .button__cart  {
        width: auto;
    }

    button  {
        padding: 1rem 6.5rem;
    }
}